/*
primary: #ff4081
p-light: #ff79b0
p-dark: #c60055
secondary: #00000 #e676e6
s-light: #66ffa6
s-dark: #00b248


/* global styles */


body { background-color: red
}

h1,
h2 {
    text-align: center
    font-family: 'Oswald', sans-serif;}

    h1 {font-size: x-large}

    ul {
        display: inline-block

    }
header li {
    text-align: center;
    font-size: 90px;
    margin: 0 15px;
}

footer a {
    font-size: 64px
}